USE [master]
GO
/****** Object:  Database [EventScheduler]    Script Date: 5/30/2019 2:30:16 PM ******/
CREATE DATABASE [EventScheduler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventScheduler', FILENAME = N'C:\Users\Admin\Database\EventScheduler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventScheduler_log', FILENAME = N'C:\Users\Admin\Database\EventScheduler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventScheduler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventScheduler]
GO
USE [EventScheduler]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/30/2019 2:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailID] [nvarchar](128) NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nchar](10) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 5/30/2019 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](400) NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NULL,
	[ThemeColour] [nvarchar](16) NULL,
	[IsFullDay] [bit] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteUsers]    Script Date: 5/30/2019 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NULL,
	[DOB] [datetime] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_SiteUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 5/30/2019 2:30:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [EmailID], [City], [Country]) VALUES (1, N'faisal', N'alam', N'mail@faisal.com', N'ctg', N'bd        ')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [EmailID], [City], [Country]) VALUES (2, N'ali ', N'fitlur', N'mm@gmail.com', N'dk', N'bd        ')
INSERT [dbo].[Employees] ([EmployeeID], [FirstName], [LastName], [EmailID], [City], [Country]) VALUES (1002, N'abul2', N'mal', N'mm@mm.com', N'abc', N'cba       ')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventID], [Subject], [Description], [Start], [End], [ThemeColour], [IsFullDay]) VALUES (2, N'birthday', N'birthday', CAST(N'2019-01-10T00:00:00.000' AS DateTime), CAST(N'2019-01-10T12:10:00.000' AS DateTime), N'red', 0)
INSERT [dbo].[Events] ([EventID], [Subject], [Description], [Start], [End], [ThemeColour], [IsFullDay]) VALUES (1003, N'122', N'12123132132', CAST(N'2019-05-27T00:00:00.000' AS DateTime), CAST(N'2019-05-28T00:00:00.000' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[SiteUsers] ON 

INSERT [dbo].[SiteUsers] ([ID], [FirstName], [LastName], [DOB], [RoleID]) VALUES (1, N'Ali', N'Mortuza', CAST(N'2001-12-19T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[SiteUsers] ([ID], [FirstName], [LastName], [DOB], [RoleID]) VALUES (2, N'Bali vv', N' m', CAST(N'2000-10-10T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[SiteUsers] ([ID], [FirstName], [LastName], [DOB], [RoleID]) VALUES (1002, N'kkk', N'kkk', CAST(N'2001-10-01T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[SiteUsers] OFF
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([ID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[UserRoles] ([ID], [RoleName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRoles]    Script Date: 5/30/2019 2:30:18 PM ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [IX_UserRoles] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
